.page-header {
	color: #FFFFFF;
}

.start {
	color: #000080;
}

/*.ans1 {
	color: #000080;
}*/

.legend {
	color: #FFFFFF;
}

/*#tru1 {
	background-image: url(../images/blue-balloon.png);
	width: 30%;
  	height: 30%;
  	background-repeat: no-repeat;
  	display: inline;
}
*/
.ans2 {
	color: #000080;
}

body {
    background: url(../images/bground1.png);
/*    background-size: 100%;*/
    background-repeat: no-repeat;
}

/*button {
	color: #000080;
}*/

.show-counter{
	color: #FFFFFF;
}

.time-up {
	color: #FFFFFF;
}

.right {
	color: #FFFFFF;

}

.wrong {
	color: #FFFFFF;

}

.quest1 {
	color: #FFFFFF;

}

.quest2 {
	color: #FFFFFF;

}

.quest3 {
	color: #FFFFFF;

}

.quest4 {
	color: #FFFFFF;

}

.quest5 {
	color: #FFFFFF;

}

.quest6 {
	color: #FFFFFF;

}

.quest7 {
	color: #FFFFFF;

}

.quest8 {
	color: #FFFFFF;

}

.quest9 {
	color: #FFFFFF;

}

.quest10 {
	color: #FFFFFF;

}